* {

    margin: 0%;
    padding: 0%;
    box-sizing: border-box; 

}

nav {         
    background-color: #000000b2;
    box-shadow: 0 2px 9px 0  #111a1979;
}



.nav-container {        

    display: flex;
    justify-content: center;
    width: var(--general-width);
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem;
                    
}
    
       
#nav-text{
    font-size: 24px;
    color: rgb(243, 243, 243);
}

body {
    background-color: rgba(31, 41, 41, 0.144);
}


.container {
    height: 70vh;
    padding: 2rem;
    display: flex;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.grid-container {
    border: 2px solid black;
    grid-template-columns: auto auto auto auto;
    width: 80%;
    margin: 0 auto;
    height: 600px;
    display: grid;
    max-width: 350px;
    max-height: 400px;
    column-gap: 3px;
    row-gap: 2px;
   
}

.grid-container button {
    background-color: rgba(2, 1, 1, 0.699);
    color: white;
    transition: all 0.2s linear;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);   
    font-weight: 700;
    font-size: larger;
  
}

.grid-container button:hover {
 background-color: rgba(255, 255, 255, 0.699);
color:  rgba(2, 1, 1, 0.699);;
 
}

.output{
    grid-column: 1 / -1;     
    background-color:rgba(2, 1, 1, 0.774);
    color: white;    
    font-size: large;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    max-height: max-content;
    min-height: 100px; 
}

.output .previous-operand {
 color: rgb(162, 170, 177);
 font-size: 1.5rem;
}

.output .current-operand {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
   }


   
 